/*-------Variables-----------*/
:root {
  /*colors*/
  --lightblue-color: #7ac9d0;
  --white-color: white;
  --orange-color: #fe9a83;
  --blueb-color: #005059;
  --bluel-color: #08808e;
  --celeste-color: #c9e8ea;
  /*box shadow*/
  --box: 0 0 4px 0px #63615f;
}

/*--------------------------INDEX.HTML*/
html,
body {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: "Quicksand";
}

nav {
  display: flex;
  background-color: var(--lightblue-color);
  padding: 15px 50px;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav li {
  padding-left: 25px;
  list-style: none;
  font-size: 15px;
}

nav li a {
  color: black;
  text-decoration: none;
}

nav li a:hover {
  color: var(--blueb-color);
}

h1 {
  font-weight: 600;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
}

h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

/* Inicia Main section */

.main_section {
  background-image: url("../images/Fondo.png");
  background-size: cover;
  background-position: center;
  height: 600px;
}
.main_title {
  padding: 5%;
  text-align: center;
}

.products {
  display: flex;
  /*flex-wrap: wrap;*/
  padding: 0% 15%;
  /*justify-content: center;*/
}

.content {
  background-color: var(--orange-color);
  color: var(--white-color);
  padding: 10px;
  margin: -13px 20px;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;
  height: 320px;
  box-shadow: var(--box);
}

.image_content {
  border-radius: 10px;
  width: 237px;
  height: 189px;
}

.button_content {
  background-color: var(--bluel-color);
  width: 181px;
  height: 50px;
  border: 0;
  color: var(--white-color);
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  position: relative;
  bottom: 5px;
  box-shadow: var(--box);
}
.button_content:hover {
  background-color: #03474f;
}
/*Termina main section*/
/* Inicia beneficios*/
.benefits {
  display: flex;
  justify-content: space-evenly;
  height: 300px;
  margin-top: 50px;
}
.benefits_item {
  background-color: var(--orange-color);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  align-items: center;
  margin: 20px;
  /*box-shadow: var(--box);*/
}
.image_item {
  margin: 40px;
}
.image_item1 {
  margin: 30px;
}
/*termina beneficios*/

/*inicia opiniones*/

.opinions_title {
  font-size: 25px;
  text-align: center;
  margin: 50px 0 0 0;
}

.opinions {
  display: flex;
  justify-content: space-evenly;
  height: 450px;
}

.opinions_content {
  color: white;
  background-color: var(--bluel-color);
  text-align: center;
  font-size: 20px;
  width: 320px;
  height: 230px;
  border-radius: 10px;
  margin-top: 150px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: var(--box);
}

.image_options {
  width: 250px;
  border-radius: 10px;
  position: relative;
  top: -80px;
  /*box-shadow: var(--box);*/
}

.options_name {
  margin-top: -75px;
  font-size: 15px;
}

/*termina opiniones*/
/*inicia footer*/
.footer {
  background-color: var(--blueb-color);
  display: flex;
  justify-content: center;
}

.icon {
  margin: 10px 20px 10px 20px;
}
/*termina footer*/

/*---------------------FIN INDEX.HTML*/

/* --------------------- PRODUCTO*/
.col-6 {
  text-align: center;
  margin-bottom: 30px;
}

.col-6-orange {
  background-color: var(--orange-color);
  width: 300px;
  height: 250px;
  margin: auto;
  border-radius: 10px;
}

.image_col {
  width: 250px;
  height: 200px;
  border-radius: 10px;
  margin: 25px;
}

.paragraph_color {
  font-size: 18px;
  font-weight: 600;
}

.product_button {
  background-color: var(--bluel-color);
  width: 130px;
  height: 40px;
  border: 0;
  color: var(--white-color);
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.product_button:hover {
  background-color: #03474f;
}

.col-6-blue {
  background-color: var(--celeste-color);
  width: 300px;
  height: 250px;
  margin: auto;
  border-radius: 10px;
}

/*---------------------------TERMINA PRODUCTO*/

/*---------------------------- VENTA*/

.col-4 {
  text-align: center;
}

.modulo_image {
  background-color: var(--orange-color);
  width: 250px;
  height: 200px;
  margin: auto;
  border-radius: 10px;
}

.image_sale {
  width: 200px;
  height: 150px;
  border-radius: 10px;
  margin: 25px;
}

.paragraph_sale {
  font-size: 15px;
  font-weight: 500;
  margin-top: -10px;
}

.modulo_pago {
  background-color: var(--celeste-color);
  /*box-shadow: var(--box);*/
  padding: 10px;
  border-radius: 10px;
  height: 280px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.data {
  display: block;
  width: 80%;
  height: 20px;
  padding: 10px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  border-radius: 5px;
  border: 0 solid;
}

.button_pay {
  position: relative;
  background-color: var(--bluel-color);
  width: 150px;
  height: 40px;
  border: 0;
  color: var(--white-color);
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin-left: 126px;
  margin-right: 126px;
  margin-top: 10px;
}
.button_pay:hover {
  background-color: #03474f;
}

.container_solution {
  margin-bottom: 139px;
}

/*------------TERMINA VENTA*/

/*------------- FAQS*/

.questions {
  padding: 7%;
}
.question_box p {
  font-size: 15px;
  box-sizing: border-box;
}
